<div class="content-wrapper">
  <div class="container">
    <div class="col-sm-12">
      <div class="card" data-aos="fade-up">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <h1 class="font-weight-600 mb-4">
                BUSINESS
              </h1>
            </div>
          </div>
          <div id="article_list_business" class="row">
              <div class="row article_box">
                <div class="col-sm-4 grid-margin">
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<script type="text/javascript">
  getArticles();

  function getArticles(){
    $.ajax({
      url: "api/articles/category/business",
      type: "GET",
      success: function(data){
        console.log();
        var html = "";
        for(var i = 0; i < data.length; i++){
          html += '<div class="row article_box">'
                  +'<div class="col-sm-4 grid-margin">'
                  +'<div class="rotate-img">'
                  +'</div>'
                  +'</div>'
                  +'<div class="col-sm-8 grid-margin">'
                    +'<h2 class="font-weight-600 mb-2">'
                      +data[i].title+'</h2>'
                      +'<p class="fs-13 text-muted mb-0">'
                      +data[i].subtitle+'</p>'
                  +'<p class="fs-15">'
                +data[i].article_body+'</p></div></div>'
        }

        $("#article_list_business div").html(html);
      }
    });
  }
</script>
